<div class="mdl-card mdl-shadow--2dp sensor-card">
	<div class="mdl-card__title mdl-card--border">
		<h2 class="mdl-card__title-text">{{ $ctrl.value }}</h2>
	</div>
	<div class="mdl-card__supporting-text">
		{{ ::$ctrl.name }}
	</div>
</div>
