/*
green-cat
Copyright (C) 2017  Quantum Dream Studio

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

.green-cat-layout .mdl-layout__header {
	background: url('../assets/header-bg.png') center / cover;
}

.green-cat-layout .mdl-layout__header .mdl-progress {
	width: 100%;
}

.green-cat-layout .mdl-layout__header, .green-cat-layout .mdl-layout__drawer-button {
	color: white;
}

.sensor-card {
	min-height: inherit;
	width: auto;
}

.sensor-card .mdl-card__title {
	text-align: center;
}

.settings-list fieldset {
	border: 1px solid grey;
	margin: 2px 0;
	padding: 5px 10px;
}

.settings-list button[type="submit"] {
	width: 100%;
}

.settings-list .setting {
	margin-bottom: 8px;
}

.settings-list .setting input:focus {
	outline: none;
}

.settings-list .setting .error {
	border-bottom: 2px solid red;
}
